# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# Build artifacts
build/
bin/
lib/
*.so
*.a
*.out
*.exe

# C++
*.o
*.obj
*.pch

# Nota
*.n

# IDE files
.vscode/
.idea/
*.suo
*.user
*.sln
*.vcxproj
*.xcodeproj
nbproject/
